/* Form group ======== */

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 100px; /* adjust as needed */
    margin-right: 10px;
}

.form-group input {
    flex-grow: 1;
}